parameters:
    level: 6
    paths:
        - examples/
        - src/
        - tests/
    excludePaths:
        - examples/cli/vendor/* (?)
        - tests/Capability/Discovery/Fixtures/
        - tests/Capability/Discovery/SchemaGeneratorFixture.php
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: "#^Method .*::test.*\\(\\) has no return type specified\\.$#"
        # This errors should actually be fixed, but are ignored for now
        -
            identifier: missingType.iterableValue
            path: src/Capability/Discovery/SchemaGenerator.php
            count: 12
